.hamburger,
.close {
  display: none;
  background-color: transparent;
  border: none;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #000000;
  box-shadow: 0 1px 15px 1px white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-image: linear-gradient(
    to right,
    var(--black) 0 50%,
    var(--blue) 50% 100%
  );
}
.menus a {
  margin: 0 30px;
  color: var(--white);
  transition: 0.4s;
}
.menus a:hover {
  color: #fac422;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right a {
  padding: 15px 30px;
  border: 1px solid var(--white);
  color: var(--white);
}
.dark {
  margin: 0 30px 0 60px;
}

@media (max-width: 1170px) {
  .navbar {
    padding: 20px 30px;
  }
  .nav-right a {
    padding: 15px 10px;
  }
  .dark {
    margin: 0 15px 0 20px;
  }
}
@media (max-width: 1115px) {
  .nav-right a {
    display: none;
  }
  #navbar-responsive {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    transition: 0.5s;
  }
  .hamburger {
    display: block;
    background-color: transparent;
  }
  .close {
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: transparent;
    display: block;
  }
  .menus a {
    display: block;
    margin-top: 20px;
    font-size: 30px;
    padding: 15px 30px;
    color: #00a0c1;
    border: 1px solid #00a0c1;
    border-radius: 20px;
  }
  .menus a:hover {
    background-color: #ffa62b;
    color: white;
    border-color: #ffa62b;
  }
}
